
.timer-container {
  align-items: center;
}

.big-font {
  font-size: 108px;
}

.text-align-right {
  text-align: right;
}

.remove-padding {
  padding: 0;
}

.light-blue {
  background-color: #d7eaf3;
}

.sky-blue {
  background-color: #77b5d9;
}

.dark-blue {
  background-color: #14397d;
}
